body {
  font-family: 'Courier New', Courier, monospace;
  background-color: darkgray;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  background-color: #3b7db3;
  padding: 5px;
  width:25em;
  height: 25em;
  position: absolute;
  left: 13%;
  top: 15%;
  }

  .container {
    position: absolute;
    right: 30%;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    border: 3px rgb(255, 255, 255) solid;
  }

  .finish-game {
    display: none;
    width: 100%;
    background-color: rgb(48, 187, 14);

  }

  .score {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    
  }

  .timer {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  #button {
    background-color: rgb(224, 131, 24);
    color: white;
    
    padding: 1em;
  }


  
  .grid-item {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .mole-alive {
    background-image: url(./images/mole.jpg);
    background-repeat: no-repeat;
    background-size: 3em;
    background-position: center;

  }




